/* Service.css */


  
  .service-container {
    max-width: 1500px;
    position: relative; /* Ensure emojis are positioned relative to this container */
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.313);
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .title {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fefefe;
  }
  
  .subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .options {
    margin-bottom: 20px;
  }
  
  .option-label {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .input-field {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .calculate-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2575fc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .calculate-button:hover {
    background-color: #6a11cb;
  }
  
  .result-section {
    margin-top: 20px;
    background: transparent;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .result-section h2 {
    color: #b8acff;
  }
  
  .result-section h3 {
    color: #2575fc;
  }
  
  .result-section p {
    font-size: 1.8em;
    margin: 5px 0;
  }
  .emoji-popup {
    position: absolute;
    font-size: 3em;
    animation: popup 0.7s ease-out;
  }
  @keyframes popup {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      opacity: 0.5;
      transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1.5);
    }
  }
  